
/* ======================================================== */
/* what is this */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ========================================================== */


#map-holder {
  height: 665.2420043945312px;
  width: 1009.114990234375px;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 665.2420043945312px;
  width: 1009.114990234375px;
}

.land, .heat0{
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.selected{
  fill: black;
  stroke-width:0;
}

.heat1{
  fill: rgba(255,80,80,.1);
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.heat2{
  fill: rgba(255,80,80,.325);
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.heat3{
  fill: rgba(255,80,80,.45);
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.heat4{
  fill: rgba(255,80,80,.75);
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.heat5{
  fill: rgba(255,80,80,1);
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.heatSelect{
  stroke: green;
}

.one{
  float: left;
  width: 10%;
}

.two{
  float: right;
  width: 90%;
}

.two {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.two .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /*bottom: 125%;*/
    top:50%;
    left: 50%;
    margin-left: -80px;

}

/* Popup arrow */
.two .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.two .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
