
/* ======================================================== */
/* what is this */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ========================================================== */


#map-holder {
  height: 665.2420043945312px;
  width: 1009.114990234375px;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 665.2420043945312px;
  width: 1009.114990234375px;
}

.land{
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.country{
  fill: #555555;
  stroke: #2A2C39;
  stroke-width: 1;
}

.heat1{
  fill: rgba(255,80,80,.1);
  /* stroke: red; */
  stroke-width: .5;
}

.heat2{
  fill: rgba(255,80,80,.325);
  /* stroke: red; */
  stroke-width: .5;
}

.heat3{
  fill: rgba(255,80,80,.45);
  /* stroke: red; */
  stroke-width: .5;7
}

.heat4{
  fill: rgba(255,80,80,.75);
  /* stroke: red; */
  stroke-width: .5;
}

.heat5{
  fill: rgba(255,80,80,1);
  /* stroke: red; */
  stroke-width: .5;
}

.one{
  float: left;
  width: 10%;
}

.two{
  float: right;
  width: 90%;
}
